h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

/* added background color */
body {
        background: linear-gradient(rgb(227, 144, 144), rgb(81, 111, 219));
}

h2, h3 {
    font-size: 30px;
    color: black;
}

main {
    margin: 20px;
}

#aside {
    margin-top: 50px;
}

#enter-city{
    width: 185px;
}

#five-day-forcast {
    margin-left: 15px;
}


#look-up {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #cdd4d7;
}

#today-weather {
    background: transparent;
    border: none;
    color: black;
}

#city-heading {
    font-size: 37px;
}

/* #forecastTitle{
    font-size: 25px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
} */

#card-row {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
} 

#search {
    float: left;
}

/* change search button size */
#search-button {
    color: white;
    margin-top: 10px;
    width: 190px;
    background: rgb(224, 238, 242);
    background: radial-gradient(circle, rgb(170, 190, 207) 0%, rgb(51, 129, 231) 100%);
}

/* .five-day-card {
    background-color: rgba(0, 174, 255, 0.521);
    margin: 5px;
    border-radius: 10px;
} */

#clear-history {
    color: white;
    margin-top: 10px;
    width: 190px;
    background: rgb(224, 238, 242);
    background: radial-gradient(circle, rgb(170, 190, 207) 0%, rgb(51, 129, 231) 100%);
}